.title-central {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

table,
.cod-bar {
  background-color: white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
}

.imp {
  display: flex;
  justify-content: space-around;
}

.cod-bar table {
  width: 100%;
  font-size: 1.25rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.cod-bar h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cod-bar {
  max-width: max-content;
}

#resposta {
  font-size: 2rem;
  font-weight: 500;
}

.imprimir {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  background: hwb(150 40% 56%) url("../imgs/icons/imps.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.wrapper-modal {
  display: none;
}

.wrapper-modal.active {
  display: block;
}

.container-modal {
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.modal {
  padding: 20px;
  border: 2px solid #111;
  border-radius: 8px;
  max-width: 250px;
  max-height: 350px;
  box-shadow: inset 0 20px 0 #01853a, inset 0 -20px 0 #01853a;
  display: grid;
  justify-items: center;
  position: relative;
}

.foto-user img {
  margin-top: 60px;
  max-width: 140px;
}

.foto-user::before {
  content: "";
  width: 120px;
  height: 140px;
  position: absolute;
  background: #636363;
  border: 2px solid #111;
  z-index: -1;
  top: 80px;
}

.container-modal p {
  font-family: "Poppins", serif;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

@media print {
  .fechar-modal,
  .imprimir {
    display: none;
  }
}
